<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ws.wolfsoft.cryptostar">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher_td"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".DetailedSnowActivity"></activity>
        <activity
            android:name=".DetailedView"
            android:label="@string/title_activity_detailed_view"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".WSSplashScreenActivity">

        </activity>
        <activity android:name=".CryptoListActivity" />
        <activity android:name=".SplashScreenActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".LoginActivity" />
        <activity android:name=".SignupActivity" />
        <activity android:name=".CreatePinAcitivyt" />
        <activity android:name=".TradeCryptoStarActivity" />
        <activity android:name=".WalletCryptoStarActivity" />
        <activity android:name=".AlertCryptoStarActivity" />
        <activity android:name=".ChartCryptoStarActivity" />
    </application>

</manifest>